@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --dark-rgb: 0, 0, 0;
  --light-rgb: 255, 255, 255;

  --primaryGradient: linear-gradient(90deg, #5D5FEF, #877EFF);
  --primaryGradientRevert: linear-gradient(#5D5FEF, #877EFF);
}

body {
  color: rgb(var(--light-rgb));
  background: rgb(var(--dark-rgb));
}